<div class="container-grid">
  <div class="container-grid__header hero" data-controller="hero-changer" data-hero-changer-target="hero" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 70%, rgba(255, 255, 255, 1) 100%), url('https://exitmag.fr/wp-content/uploads/sites/21/2024/04/The-Fall-Guy-1-Ryan-Gosling.webp');">
    <div class="search-box d-flex flex-column">
      <h2>The best AI movie search engine
        <h2>
          <h3>Tired of searching 3 hours for a movie idea?</h3>

        <%= form_with url: recommendations_path, method: :get, class: "d-flex search-form my-4", data: { controller: "prompt" } do |form| %>
  <%= form.text_field :query, value: params[:query], class: "search-input", placeholder: "", data: { prompt_target: "input" } %>

            <%= button_tag(type: 'submit', name: '', class: 'search-button', data: { action: "click->prompt#displayLoader" }) do %>
              <div class="d-flex align-items-center"><%= render 'layouts/icon' %><span class="ms-2">Search</span></div>
            <% end %>
          <% end %>
          <% if @queries && !@queries.empty? %>
            <h4 class="mt-4">Your last search</h4>
            <div class="buttons d-flex">
              <% @queries.last(3).reverse.each do |query| %>
                <button class="d-flex justify-content-between align-items-center">
                  <small class="me-2"><%= query.query %></small><span class="d-flex justify-content-center align-items-center"><i class="fas fa-times"></i></span>
                </button>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%# <div data-controller="siema"> %>
    <%# <% @queries.each do |query| %>
      <%# <%= render 'section', query: query %>
      <%# </div>  %>
      <section class="container px-4 special">
        <h2>Special for you</h2>
        <div data-controller="carousel" class="carousel">
          <div class="siema" data-carousel-target="siema">
            <% @movies.each do |movie| %>
              <div class="siema-slide">
                <% unless movie.poster_url == "N/A" || movie.poster_url.nil? || movie.poster_url.empty? %>
                  <%= render "movies/movie", movie: movie, section: "recommendations", lists: @lists_sidebar, carousel: true, bs_class: "col-sm-6 col-md-6 col-lg-3" %>
                <% end %>
              </div>
            <% end %>
          </div>
          <!--<button class="prev" data-action="click->carousel#prev">
            <%#= render 'arrow' %>
          </button>
          <button class="next" data-action="click->carousel#next">
            <%#= render 'arrow' %>
          </button>-->
        </div>
      </section>
      <section class="container px-4">
        <h2>Your favorites</h2>
        <div data-controller="carousel" class="carousel">
          <div class="siema" data-carousel-target="siema">
            <% @favorites.each do |movie| %>
              <div class="siema-slide">
                <%= render "movies/movie", movie: movie, section: "recommendations", lists: @lists_sidebar, carousel: true, bs_class: "col-sm-6 col-md-6 col-lg-3" %>
              </div>
            <% end %>
          </div>
          <button class="prev" data-action="click->carousel#prev">
            <%= render 'arrow' %>
          </button>
          <button class="next" data-action="click->carousel#next">
            <%= render 'arrow' %>
          </button>
        </div>
      </section>
