<div class="container d-flex flex-column flex-wrap px-5 py-3">
    <div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: recommendations_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
  <div class="row">

  <% @queries.each do |query| %>
    <h2><%= query.query %></h2>
    <% movies = current_user.gpt_queries.find(query.id).movies %>
    <% movies.each do |movie| %>
      <%= render "movies/movie", movie:movie %>
      <% end  %>
  <% end %>
  </div>
</div>
