<div class="container d-flex flex-column flex-wrap px-5 py-3">
  <div class="row justify-content-center search-container">
    <div class="col-sm-8 m-3">
      <%= form_with url: recommendations_path, method: :get, class: "d-flex search-form", data: { controller: "prompt" } do %>
        <%= text_field_tag :query,
      params[:query],
      class: "form-control search-input",
      data: { prompt_target: "input" }
  %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary search-button" %>
      <% end %>
    </div>
  </div>
   <div class="row">

<% @queries.each do |query| %>
  <div class="card shadow p-2 mb-3">
    <div class="card-body">
      <h2><%= query.query %></h2>
      <% movies = current_user.gpt_queries.find(query.id).movies %>
      <div class="row">
        <% movies.take(4).each do |movie| %>
          <%= render "movies/movie", movie:movie %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
