<div class="container d-flex flex-column flex-wrap px-5 py-3">
  <div class="row justify-content-center search-container">
    <div class="col-sm-8 m-3">
      <%= form_with url: recommendations_path, method: :get, class: "d-flex search-form", data: { controller: "prompt" } do %>
        <%= text_field_tag :query,
      params[:query],
      class: "form-control search-input",
      data: { prompt_target: "input" }
  %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary search-button" %>
      <% end %>
    </div>
  </div>
   <div class="row">

<% @queries.each do |query| %>
  <div class="card shadow p-2 mb-3">
    <div class="card-body">
      <h2><%= query.query %></h2>
      <% movies = current_user.gpt_queries.find(query.id).movies %>
      <div class="row">
        <% movies.take(4).each do |movie| %>
          <%= render "movies/movie", movie:movie %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

  <h1 class="my-3 text-center">All the movies you can find on the website</h1>
  <div class="row my-4 d-flex justify-content-center" data-controller="search-bar-movie">
    <%= form_tag movies_path, method: :get, class: "input-box pe-0", data: {
      search_bar_movie_target: "inputBox",
    } do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search a movie by his title" %>
          <span class="search" data-action="click->search-bar-movie#openSearch">
            <i class="fas fa-search search-icon"></i>
          </span>
          <i class="fas fa-times close-icon" data-action="click->search-bar-movie#closeSearch"></i>
    <% end %>
  </div>
  <div class="row">
    <% if @movies.empty? %>
      <div class="col-12 text-center">
        <h2>No movies found</h2>
      </div>
    <% else %>
      <% @movies.each_with_index do |movie, index| %>
        <%= render "movies/movie", movie: movie, index: index, lists: @lists_sidebar %>
      <% end %>
    <% end %>
    <div class="d-flex justify-content-center">
      <%= paginate @movies %>
    </div>
</div>
