<div class="movie-card col-sm-6 col-md-6 col-lg-3 my-2 text-wrap text-center" data-controller="movie-buttons" data-movie-buttons-movie-id-value="<%= movie.id %>" data-movie-buttons-movie-section-value="<%= defined?(section) ? section : '' %>" >
  <figure>
    <img src="<%= movie.poster_url %>" alt="<%= movie.title %>"  data-bs-toggle="modal" data-bs-target="#movieModal<%= movie.id %>">
    <div class="movie-card__buttons">
      <button id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false"><i class="fa-solid fa-plus text-white"></i></button>
      <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
        <h5 class="dropdown-header">Add to my list</h5>
        <% lists.each do |list| %>
          <li><a class="dropdown-item" href="#" data-action="click->movie-buttons#addToList" data-movie-buttons-target="addToList" data-movie-buttons-list-id-value="<%= list.id %>"><%= list.name %></a></li>
        <% end %>
      </ul>
      <button><i class="fa-solid fa-heart text-white <%= movie.favorites.exists?(user_id: current_user.id) ? "favorite" : ""
 %>" data-action="click->movie-buttons#addToFavorites" data-movie-buttons-target="addToFavorites"></i>
      </button>
      <button>
        <i class="fa-solid fa-eye text-white <%= movie.watched_movies.any?(&:is_watched) ? "watched" : "" %> " data-action="click->movie-buttons#addToWatched" data-movie-buttons-target="AddToWatched"></i>
      </button>
      <button>
        <i class="fa-regular fa-clock text-white <%= movie.watched_movies.any? { |movie| movie.is_watched == false } ? "watch_later" : "" %>" data-action="click->movie-buttons#addToWatchLater" data-movie-buttons-target="AddToWatchLater"></i>
      </button>
    </div>
  </figure>
  <div class="movie-card__content">
    <p class="movie-card__title mt-2"><%= movie.title %> (<%= movie.year %>)</p>
  </div>
</div>
<div class="modal fade" id="movieModal<%= movie.id %>" tabindex="-1" aria-labelledby="movieModalLabel<%= movie.id %>" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="movieModalLabel<%= movie.id %>"><%= movie.title %> (<%= movie.year %>)</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mb-3">
          <img src="<%= movie.poster_url %>" alt="<%= movie.title %>" class="col-4 img-fluid" >
          <div class="col-8">
            <!--<iframe class="mb-3 w-100" height="400" src="https://www.youtube.com/embed/<%#= movie.trailer_key %>?mute=1"></iframe>-->
            <p><strong>Description:</strong> <%= movie.description %></p>
            <p><strong>Director:</strong> <%= movie.director %></p>
            <p><strong>Main actors:</strong> <%= movie.actors %></p>
            <p><strong>Year:</strong> <%= movie.year %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
