<div class="container d-flex flex-column flex-wrap px-5 py-3">
  <h1 class="my-3 text-center">All the movies you can find on the website</h1>
  <div class="row my-4 d-flex justify-content-center" data-controller="search-bar-movie">
    <%= form_tag movies_path, method: :get, class: "input-box pe-0", data: {
      search_bar_movie_target: "inputBox",
    } do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search a movie by his title" %>
          <span class="search" data-action="click->search-bar-movie#openSearch">
           <%= render "layouts/icon" %>
          </span>
          <i class="fas fa-times close-icon" data-action="click->search-bar-movie#closeSearch"></i>
    <% end %>
  </div>
  <div class="row">
    <% if @movies.empty? %>
      <div class="col-12 text-center">
        <h2>No movies found</h2>
      </div>
    <% else %>
      <% @movies.each_with_index do |movie, index| %>
        <%= render "movie", movie: movie, index: index, carousel: false %>
      <% end %>
    <% end %>
    <div class="d-flex justify-content-center">
      <%= paginate @movies %>
    </div>
  </div>
</div>
