<h1 class="my-3 text-center">All the movies you can find on the website</h1>

<div class="container">
  <div class="row my-4">
    <%= form_tag movies_path, method: :get do %>
        <div class="d-flex w-50 mx-auto gap-3">
          <%= text_field_tag :search, params[:search], placeholder: "Search by title", class: "form-control" %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        </div>
    <% end %> 
  </div>
  <div class="row">
    <% if @movies.empty? %>
      <div class="col-12 text-center">
        <h2>No movies found</h2>
      </div>
    <% else %>
      <% @movies.each_with_index do |movie, index| %>
        <%= render 'movie', movie: movie, index: index %>
      <% end %>
    <% end %>
    <div class="d-flex justify-content-center">
      <%= paginate @movies %>
    </div>
  </div>
</div>

