<div class="row vh-100">
  <div class="col-3">
    <div class="card vh-100">
      <div class="card-header">
        <h5 class="my-3">Chatrooms</h5>
        <% if current_user == @chatroom.user %>
          <div class="d-flex justify-content-between">
            <%= simple_form_for(@chatroom) do |f| %>
              <%= f.input :name, label: false, placeholder: "Create a new chatroom", class: "form-control" %>
              <%= f.submit  class: "btn btn-primary" %>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= render "chatrooms/chatrooms", chatrooms: @chatrooms %> 
    </div>
  </div>
  <div class="col-6">
    <%= render "chatrooms/messages" %>
  </div>
  <div class="col-3">
    <div class="card vh-100">
      <%= render "chatrooms/chatroom_right", chatroom: @chatroom %>
    </div>
  </div>
</div>