<div class="sidebar p-4 d-flex flex-column justify-content-between" data-dark-mode-target="sidebar">
  <div class="w-100">
    <figure >
      <%= render "shared/logo" %>
    </figure>
    <ul class="mt-3 p-0 links">
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link" do %>
          <i class="fa-solid fa-house me-2"></i> Home
        <% end %>
      </li>
       <li class="nav-item">
        <%= link_to movies_path, class: "nav-link" do %>
          <i class="fa-solid fa-ticket me-2"></i> Movies
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link" do %>
          <i class="fa-solid fa-heart me-2"></i> Favorites
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link" do %>
          <i class="fa-solid fa-eye me-2"></i> Watched
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link" do %>
          <i class="fa-regular fa-eye me-2"></i> Watch Later
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link" do %>
          <i class="fa-solid fa-message me-2"></i> Messages
        <% end %>
      </li>
    </ul>
    <hr>
    <h3 class="mt-4">Last updated list</h3>

    <ul class="list-unstyled mt-4 align-self-center">
      
      <% lists.each do |list| %>
        <li class="d-flex align-items-center m-2">
          <%= link_to list_path(list), class: "d-flex align-items-center justify-content-between nav-link  w-100" do %>
            <div class="d-flex ">
              <img class="list-thumbnail me-2" src="https://image.tmdb.org/t/p/w1280/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg" alt="">
              <p class="m-0"><%= list.name %></p>
            </div>
            <span class="badge text-bg-secondary col-2"> (<%= list.movies.count %>)</span>
          <% end %>
        </li>
      <% end %> 

    </ul>
    <button class="btn btn-primary mt-3 w-100 rounded-xl">
      <i class="fa-solid fa-plus me-2"></i> Create list
  </div>
  <div class="d-flex w-100 align-items-center">
    <ul class="navbar-nav profile-menu d-flex flex-nowrap profile">
      <li class="nav-item dropdown">
        <a class="nav-link me-1" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#"><i class="fas fa-sliders-h fa-fw"></i> Account</a></li>
          <%= link_to user_lists_path, class: "dropdown-item" do %>
            <li><i class="fas fa-list fa-fw"></i> Lists</li>
          <% end %>
          <li><hr class="dropdown-divider"></li>
          <li>
            <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" do %>
              <i class="fas fa-sign-out-alt fa-fw"></i> Log out
            <% end %></a></li>
      </ul>
    </li>
  </ul>
  <div class="d-flex flex-column">
    <small class="ms-2">Sebastien Saunier</small>
  </div>
  <%= render "shared/dark_mode_toggle" %>
</div>
</div>
