<div class="list_container <%= section if defined?(section) %>">
  <div class="list_container__search d-flex align-items-center justify-content-between">
    <%= form_tag search_on, class: "search-container", method: :get do %>
      <%= render "layouts/icon" %>
      <%= text_field_tag :search, params[:search], class: "search-input flex-grow-1", placeholder: "Search a movie by its title" %>
    <% end %>
    <div class="search-header ms-2">
      <% if ai_reco %>
        <%= form_with url: reco_path, method: :post, class: "d-inline" do |form| %>
          <%= form.button class: "btn btn-primary ms-2 text-black p-2 px-4 find_similar" do %>
            <i class="m-2 fa-solid fa-wand-magic-sparkles text-center"></i>
            <small>Find similar movies</small>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="list_container__header" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_url %>'); background-position: <%= defined?(position) ? position : "initial" %>;">
    <div class="list_container__header__content">
      <h2><%= title %></h2>
      <div class="d-flex flex-column movie_title">
        <h3><%= movie_title %></h3>
      </div>
      <div class="buttons">
        <button class="btn btn-primary text-black p-2 px-4"><small>More info</small></button>
      </div>
    </div>
  </div>
</div>
