<!DOCTYPE html>
<html>
  <head>
    <title>Videoclub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% if !user_signed_in? %>
      <div class="container mt-5">
        <div class="row text-center mb-4">
          <%= render "shared/logo" %>
        </div>
        <div class="row justify-content-center">
          <div class="col-6">
            <%= yield %>
          </div>
        </div>
      </div>
    <% else %>
      <main>
        <%= render "shared/sidebar" , lists: @lists_sidebar, list: @list %>
        <%= render "shared/flashes" %>
        <div class="content" data-dark-mode-target="container">
          <%= yield %>
        </div>
      </main>
    <% end %>
  </body>
</html>
