<!DOCTYPE html>
<html>
  <head>
    <title>Videoclub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main data-controller="dark-mode" data-dark-mode-target="main">
      <%= render "shared/sidebar" %>
      <%= render "shared/flashes" %>
      <div class="content" data-dark-mode-target="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
